<div class="vlt-input">
  <label class="vlt-input__label" *ngIf="label" [attr.for]="id">{{label}}</label>

  <ng-container *ngIf="type !== inputTypeEnum.TEXTAREA">
    <input class="vlt-input__input"
           [disabled]="disabled"
           [(ngModel)]="input"
           (ngModelChange)="onChange($event)"
           (blur)="onTouch()"
           [attr.type]="type"
           [attr.name]="id"
           [attr.id]="id"/>
  </ng-container>

  <ng-container *ngIf="type === inputTypeEnum.TEXTAREA">
    <textarea class="vlt-input__input"
              [(ngModel)]="input"
              [disabled]="disabled"
              (ngModelChange)="onChange($event)"
              (blur)="onTouch()"
              [attr.type]="type"
              [attr.name]="id"
              [attr.id]="id"></textarea>
  </ng-container>
</div>
