.vlt-input {
  &__label {
    color: var(--color-black);
    display: block;
    font-size: var(--input-font-size);
    line-height: calc(var(--input-font-size) + 5px);
    font-weight: 300;
    margin: 0 0 5px 0;
  }

  &__input {
    border-radius: var(--border-radius-general);
    padding: 13px 10px;
    width: 100%;
  }
}
