@import "/src/scss/mixins";

.vlt-single-section {
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 0 80px 0;

  @include media-query-mobile {
    padding: 50px 0;
    min-height: auto;
  }
}
