<article class="vlt-single-teaser" vltBoxParallax>
  <div class="js-vlt-box-parallax">
    <div class="vlt-single-teaser__image">
      <img class="vlt-single-teaser__image__img" src="https://source.unsplash.com/collection/8669816/500x500" alt="">
    </div>
    <div class="vlt-single-teaser__content">
      <h3 class="vlt-single-teaser__content__heading">Teaser Title</h3>
      <p class="vlt-single-teaser__content__description">{{description}}</p>
      <vlt-btn>
        Read More
      </vlt-btn>
    </div>
  </div>
</article>
