<div class="vlt-teasers">
  <div class="container vlt-teasers__container">
    <vlt-single-teaser [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim ligula, auctor rhoncus massa non, congue\n'+
'      dignissim sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'"></vlt-single-teaser>

    <vlt-single-teaser [description]="'Lorem ipsum'"></vlt-single-teaser>

    <vlt-single-teaser [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim ligula, auctor rhoncus massa non, congue\n'+
'      dignissim sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'"></vlt-single-teaser>

    <vlt-single-teaser [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim ligula, auctor rhoncus massa non, congue\n'+
'      dignissim sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'"></vlt-single-teaser>
  </div>
</div>
