<app-vlt-header></app-vlt-header>

<main>
  <vlt-single-section [title]="'Section 1'" id="section1" [imagePath]="'./assets/Intersection%202@2x.png'">
    <vlt-contact-us-as-button></vlt-contact-us-as-button>
  </vlt-single-section>

  <vlt-single-section [title]="'Section 2'" id="section2" [solidColor]="'#00E0FF'">
    <vlt-users></vlt-users>
  </vlt-single-section>

  <vlt-single-section [title]="'Section 3'" id="section3" [solidColor]="'#fff'">
    <vlt-teasers></vlt-teasers>
  </vlt-single-section>

  <vlt-single-section [title]="'Section 4'" id="section4" [titleColor]="'#fff'" [imagePath]="'./assets/Intersection%201@2x.png'">
    <vlt-contact-form></vlt-contact-form>
  </vlt-single-section>
</main>

<vlt-footer></vlt-footer>
<vlt-mobile-overlay></vlt-mobile-overlay>
