.vlt-contact-us-as-button {
  min-height: 253px;
  background: #ffffffd1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: var(--blur-behind);
}
