<div class="container">
  <footer class="vlt-footer">
    <h2>Made with love by Ervo Rocks</h2>
    <div class="helper-video-max-width">
      <div class="helper-videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vyFd7DcY7eo" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
  </footer>
</div>
